---
import Layout from '../layouts/Layout.astro'
import PricingCalculator from '../components/PricingCalculator.jsx'
---

<Layout title='Welcome to Astro.'>
  <main>
    <PricingCalculator client:visible />
  </main>
</Layout>
